<div class="container">
    <mat-card class="mat-elevation-z8">
        <mat-card-title>Update project</mat-card-title>

        <mat-card-content>
            <form (ngSubmit)="onSubmit()" *ngIf="project != undefined" id="uf">
                <mat-form-field appearance="outline">
                    <input type="text" matInput [(ngModel)]="project.name" name="name" placeholder="Name">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <textarea matInput [(ngModel)]="project.motd" placeholder="Message of the day"
                              name="motd"></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <input type="text" matInput [(ngModel)]="project.clone_url" name="clone_url"
                           placeholder="Git clone url">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input type="text" matInput [(ngModel)]="project.git_repo" name="git_repo"
                           placeholder='Full repository name (e.g. "simon987/task_tracker")'>
                    <mat-hint align="start">Changes on the <strong>master</strong> branch will be tracked if webhooks
                        are
                        enabled
                    </mat-hint>
                </mat-form-field>
                <project-select [(project)]="selectedProject"></project-select>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button type="submit" form="uf" mat-raised-button color="primary">{{"project.update" | translate}}</button>
        </mat-card-actions>
    </mat-card>
</div>
