<div class="container">
    <mat-card class="mat-elevation-z8">
        <mat-card-title>Update project</mat-card-title>

        <mat-card-content>
            <form (ngSubmit)="onSubmit()" *ngIf="project != undefined" id="uf">
                <mat-form-field appearance="outline">
                    <mat-label>{{"project.name" | translate}}</mat-label>
                    <input type="text" matInput [(ngModel)]="project.name" name="name"
                           [placeholder]="'project.name'|translate"
                    >
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{"project.motd" | translate}}</mat-label>
                    <textarea matInput [(ngModel)]="project.motd"
                              [placeholder]="'project.motd'|translate"
                              name="motd"></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{"project.clone_url" | translate}}</mat-label>
                    <input type="text" matInput [(ngModel)]="project.clone_url" name="clone_url"
                           [placeholder]="'project.clone_url'|translate"
                    >
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{"project.version" | translate}}</mat-label>
                    <input type="text" matInput [(ngModel)]="project.version" name="version"
                           [placeholder]="'project.version'|translate"
                    >
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{"project.git_repo" | translate}}</mat-label>
                    <input type="text" matInput [(ngModel)]="project.git_repo" name="git_repo"
                           [placeholder]="'project.git_repo_placeholder'|translate"
                    >
                    <mat-hint align="start">{{'project.git_repo_hint'|translate}}</mat-hint>
                </mat-form-field>
                <project-select [(project)]="selectedProject"></project-select>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [routerLink]="'../'">Back</button>
            <button type="submit" form="uf" mat-raised-button color="primary">{{"project.update" | translate}}</button>
        </mat-card-actions>
    </mat-card>
</div>
