<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{"secret.title" | translate}}</mat-card-title>
            <mat-card-subtitle>{{"secret.subtitle" | translate}}</mat-card-subtitle>
        </mat-card-header>


        <mat-form-field appearance="outline">
            <mat-label>{{"secret.secret" | translate}}</mat-label>
            <textarea matInput [(ngModel)]="secret"
                      [placeholder]="'secret.secret'|translate"
                      name="secret"></textarea>
        </mat-form-field>

        <mat-card-actions>
            <button mat-raised-button [routerLink]="'../'">Back</button>
            <button mat-raised-button color="primary"
                    (click)="onUpdate()">{{"secret.update" | translate}}</button>
        </mat-card-actions>
    </mat-card>
</div>
