<div class="container">
    <mat-card class="mat-elevation-z8">
        <button mat-button [title]="'perms.refresh' | translate" style="float:right"
                (click)="refresh()">
            <mat-icon>refresh</mat-icon>
        </button>
        <mat-card-header>
            <mat-card-title>{{"secret.title" | translate}}</mat-card-title>
            <mat-card-subtitle>{{"secret.subtitle" | translate}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>{{"secret.secret" | translate}}</mat-label>
                <textarea matInput [(ngModel)]="secret"
                          [placeholder]="'secret.secret'|translate"
                          name="secret"></textarea>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary"
                    (click)="onUpdate()">{{"secret.update" | translate}}
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-card style="margin-top: 2em" class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>{{"secret.webhook_title" | translate}}</mat-card-title>
            <mat-card-subtitle>{{"secret.webhook_subtitle" | translate}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>{{"secret.webhook_secret" | translate}}</mat-label>
                <textarea matInput [(ngModel)]="webhookSecret"
                          [placeholder]="'secret.webhook_secret'|translate"
                          name="webhook_secret"></textarea>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button [routerLink]="'../'">{{"nav.back"|translate}}</button>
            <button mat-raised-button color="primary"
                    (click)="onWebhookUpdate()">{{"secret.update" | translate}}</button>
        </mat-card-actions>
    </mat-card>
</div>
