.table-container {
    height: 600px;
}

.mat-table {
    height: 100%;
    overflow: scroll;
}

.mat-cell {
    text-align: left;
}

.checkbox-wrapper mat-checkbox {
    margin: 3px 5px;
    vertical-align: middle;
}
