.table-container {
    /*height: 600px;*/
}

.mat-table {
    height: 100%;
    overflow: scroll;
}

.mat-cell {
    text-align: left;
}

mat-button-toggle-group {
    margin: 3px 5px;
    vertical-align: middle;
}
