<div class="container">
    <mat-card class="mat-elevation-z8">
        <button mat-raised-button style="float: right"
                [title]="'projects.refresh' | translate"
                (click)="refresh()">
            <mat-icon>refresh</mat-icon>
        </button>
        <mat-card-header>
            <mat-card-title>{{"projects.projects" | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let project of projects" style="margin-top: 1em">
                    <mat-expansion-panel-header>
                        <mat-panel-title [class.paused]="project.paused">
                            <project-icon [project]="project"></project-icon>
                            <span style="width: 3em; align-self: center">{{project.id}}</span>
                            <span style="align-self: center">{{project.name}}</span>
                        </mat-panel-title>
                        <mat-panel-description style="align-self: center">{{project.motd}}</mat-panel-description>
                    </mat-expansion-panel-header>
                    <pre>{{project | json}}</pre>
                    <div>
                        <button mat-raised-button color="primary" [routerLink]="'/project/' + project.id">
                            <mat-icon>timeline</mat-icon>{{"projects.dashboard" | translate}}</button>
                        <button mat-raised-button color="primary" [routerLink]="'/project/' + project.id + '/update'"
                                *ngIf="authService.logged">
                            <mat-icon>build</mat-icon>{{"project.update" | translate}}</button>
                        <button mat-raised-button color="primary" [routerLink]="'/project/' + project.id + '/perms'"
                                *ngIf="authService.logged">
                            <mat-icon>perm_identity</mat-icon>
                            {{"project.perms" | translate}}</button>
                        <button mat-raised-button color="primary"
                                *ngIf="authService.logged"
                                [routerLink]="'/project/' + project.id + '/secret'">
                            <mat-icon>security</mat-icon>
                            {{"project.secret" | translate}}</button>
                    </div>
                </mat-expansion-panel>
                <span *ngIf="projects && projects.length === 0">
                    {{"projects.empty" | translate}}
                </span>
                <mat-progress-bar mode="indeterminate"
                                  *ngIf="projects === null"></mat-progress-bar>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</div>
