#timeline-wrapper {
    width: 100%;
    display: none;
}

#status-pie-wrapper {
    height: 50%;
    width: 400px;
}

#assignees-pie-wrapper {
    margin-top: 1em;
    height: 50%;
    width: 400px;
}

#no-tasks {
    width: 100%;
    text-align: center;
}

#side-charts {
    display: none;
}

@media (min-width: 992px) {
    #side-charts {
        display: initial;
    }
}

@media (min-width: 576px) {
    #timeline-wrapper {
        display: initial;
    }

    #small-screen-stats {
        display: none;
    }
}
