<div class="container">
    <mat-card>
        <mat-card-title *ngIf="project">{{"dashboard.title" | translate}} "{{project.name}}"</mat-card-title>
        <mat-card-content style="padding: 2em 0 1em">

            <p *ngIf="project">
                {{"project.git_repo" | translate}}:
                <a target="_blank" [href]="project['clone_url']">{{project.git_repo}}</a>
            </p>
            <p>{{"project.motd" | translate}}:</p>
            <pre *ngIf="project">{{project.motd}}</pre>

            <div style="display: flex; align-items: center; justify-content: center">
                <div id="timeline"></div>

                <div id="status-pie"></div>
                <div id="assignees-pie"></div>
            </div>

            <mat-expansion-panel *ngIf="project" style="margin-top: 1em">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{"dashboard.metadata" | translate}}</mat-panel-title>
                </mat-expansion-panel-header>
                <pre>{{project | json}}</pre>
            </mat-expansion-panel>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary"
                    [routerLink]="'/project/' + project.id + '/update'">{{"project.update" | translate}}</button>
        </mat-card-actions>
    </mat-card>
</div>
