<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>task_tracker</mat-card-title>
            <mat-card-subtitle>Fast task tracker (job queue) with authentication, statistics and web frontend
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <h3>Documentation</h3>
            <p>Installation instructions <a href="https://github.com/simon987/task_tracker/blob/master/DOCS.md">here</a>,
                API documentation <a href="https://github.com/simon987/task_tracker/blob/master/API_DOCS.md">here</a>.
            </p>
            <p>Go client documentation <a href="https://github.com/simon987/task_tracker/tree/master/client">here</a>.
            </p>
            <p>Python client documentation <a href="https://github.com/simon987/task_tracker_drone">here</a>.</p>

            <h3>Get started</h3>

            <mat-vertical-stepper>
                <mat-step [label]="'Create a project'">
                    <p>Login and create a project from the <span style="font-weight: bold">New project</span> tab</p>

                    <p>To enable Webhooks (See step 4), enter a git url and a repository name</p>

                    <p>You can chain tasks to another project if you also have permissions on that project.
                        Tasks will be duplicated on this project when they are marked as closed.</p>

                </mat-step>
                <mat-step [label]="'Setup worker(s)'">

                    <p>Register a worker</p>
                    <pre>{{
                        'POST /worker/create\n{\n' +
                        '  "alias": "' + ('index.alias'|translate) +
                        '"\n}\n\n'}}</pre>
                    <p>Tracker response:</p>
                    <pre>{{
                        '{\n' +
                        '  "ok": true,\n' +
                        '  "content": {\n' +
                        '    "worker": {\n' +
                        '      "id": 45,\n' +
                        '      "created": 1550442984,\n' +
                        '      "alias": "' + ('index.alias'|translate) +
                        '",\n      "secret": "PvFRQZK7CpSP+4fc0iczfn++PbWh7qMLVfO1+Y3d6X4="\n' +
                        '    }\n' +
                        '  }\n' +
                        '}'}}</pre>

                    <p>
                        Workers need to request access to private or hidden projects to submit new tasks.
                        Public projects do not require any additional configuration.</p>
                    <pre>{{
                        'POST /project/request_access\n{\n' +
                        '  "assign": true,\n' +
                        '  "submit": true,\n' +
                        '  "project": 23\n}'
                        }}</pre>
                </mat-step>
                <mat-step [label]="'Setup permissions'">
                    <p>You will be given READ, EDIT and MANAGE_ACCESS roles from projects you create.
                        You can also give access to other project managers from the project permissions page</p>

                </mat-step>
                <mat-step [label]="'Setup Webhooks'">
                    <p>A webhook secret is auto-generated when the project is created, you
                        can consult/update it from the project's dashboard. Point Github/Gogs/Gitea
                        payloads to this address:</p>

                    <pre>{{apiService.url}}/git/receivehook</pre>

                    <p>Workers will be made aware of version changes on the master branch
                        when they assign themselves to new tasks:</p>

                    <pre>{{
                        'GET /task/get\n\n{\n' +
                        '  "id": 24,\n' +
                        '  "priority": 1,\n' +
                        '  ...\n' +
                        '  "project": {\n' +
                        '    "id": 1,\n' +
                        '    ...\n' +
                        '    "version": "<' + ('index.version'|translate) +
                        '>",\n  }\n}'}}
                    </pre>
                </mat-step>

                <ng-template matStepperIcon="edit" let-index="index">
                    {{index + 1}}
                </ng-template>
            </mat-vertical-stepper>
        </mat-card-content>
    </mat-card>
</div>
