<mat-card>
    <mat-card-title>Create new project</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>

    <mat-card-content>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Project name</mat-label>
                <input type="text" matInput [(ngModel)]="project.name" name="name" placeholder="Project name">
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Git clone URL</mat-label>
                <input type="text" matInput [(ngModel)]="project.clone_url" name="clone_url"
                       placeholder="Git clone url">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Repository name</mat-label>
                <input type="text" matInput [(ngModel)]="project.git_repo" name="clone_url"
                       placeholder='Full repository name (e.g. "simon987/task_tracker")'>
                <mat-hint align="start">
                    Changes on the <strong>master</strong> branch will be tracked if webhooks are enabled
                </mat-hint>
            </mat-form-field>

            <mat-checkbox matInput [(ngModel)]="project.public" name="public" stype="padding-top: 1em">Public project
            </mat-checkbox>


            <input type="hidden" name="version" value="{{project.version}}">
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button>Create</button>
    </mat-card-actions>

</mat-card>
