<div class="container">
    <mat-card class="mat-elevation-z8" *ngIf="authService.account">

        <mat-card-header>
            <mat-card-title>{{"account.title" | translate}}</mat-card-title>
            <mat-card-subtitle>{{"account.subtitle" | translate}}</mat-card-subtitle>
        </mat-card-header>
         
        <mat-card-content>

            <mat-list>
                <mat-list-item>
                    {{"account.username" | translate}}:&nbsp;
                    <pre>{{authService.account.username}}</pre>
                </mat-list-item>
                <mat-list-item>
                    {{"account.register_time" | translate}}:&nbsp;
                    <pre>{{moment.unix(authService.account.register_time).utc().format("YYYY-MM-DD HH:mm:ss UTC")}}</pre>
                </mat-list-item>
            </mat-list>

            <mat-expansion-panel>
                <mat-expansion-panel-header>{{"account.metadata" | translate}}</mat-expansion-panel-header>
                <pre> {{authService.account | json}}</pre>
            </mat-expansion-panel>

            <mat-divider class="divider" [inset]="true"></mat-divider>

        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="logout()">{{"account.logout" | translate}}</button>
        </mat-card-actions>
    </mat-card>
</div>

