<div class="small-container">
    <mat-card class="mat-elevation-z8">

        <mat-tab-group>
            <mat-tab [label]="'login.title' | translate" class="pad">
                <mat-form-field appearance="outline">
                    <mat-label>{{"login.username" | translate}}</mat-label>
                    <input type="text" matInput [(ngModel)]="credentials.username">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{ "login.password" | translate}}</mat-label>
                    <input type="password" matInput [(ngModel)]="credentials.password">
                </mat-form-field>

                <button mat-raised-button color="primary"
                        (click)="login()">{{"login.login" | translate}}</button>
            </mat-tab>
            <mat-tab [label]="'create_account.title' | translate" class="pad">
                <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                    <mat-label>{{"login.username" | translate}}</mat-label>
                    <mat-hint align="end">{{credentials.username?.length || 0}}/16</mat-hint>
                    <input maxlength="16" type="text" matInput [(ngModel)]="credentials.username" name="username"
                           required>
                </mat-form-field>

                <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                    <mat-label>{{ "login.password" | translate}}</mat-label>
                    <input type="password" matInput [(ngModel)]="credentials.password" name="password" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{ "login.repeat_password" | translate}}</mat-label>
                    <input type="password" matInput [(ngModel)]="credentials.repeatPassword" name="password2"
                    >
                </mat-form-field>

                <button mat-raised-button color="primary" [disabled]="!canCreate()"
                        (click)="register()">{{"create_account.create" | translate}}</button>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
