<mat-toolbar color="primary">
    <button mat-button class="nav-title" [routerLink]="''">{{"nav.title" | translate}}</button>
    <button mat-button class="nav-link" [routerLink]="'log'">{{"nav.logs" | translate}}</button>
    <button mat-button class="nav-link" [routerLink]="'projects'">{{"nav.project_list" | translate}}</button>
    <button mat-button class="nav-link" [routerLink]="'new_project'">{{"nav.new_project" | translate}}</button>
    <span class="nav-spacer"></span>
    <mat-form-field [floatLabel]="'never'">
        <mat-select [placeholder]="'nav.langSelect' | translate" (selectionChange)="langChange($event)">
            <mat-option *ngFor="let lang of langList" [value]="lang.lang">
                {{lang.display}}
            </mat-option>
        </mat-select>
    </mat-form-field>

</mat-toolbar>

<messenger-snack-bar></messenger-snack-bar>

<router-outlet></router-outlet>
