<mat-toolbar color="primary">
    <div class="large-nav">
        <button mat-button [class.mat-accent]="router.url == '/'" class="nav-title"
                [routerLink]="''">{{"nav.title" | translate}}</button>
        <button mat-button [class.mat-accent]="router.url == '/log'" class="nav-link"
                [routerLink]="'log'">{{"nav.logs" | translate}}</button>
        <button mat-button [class.mat-accent]="router.url == '/projects'" class="nav-link"
                [routerLink]="'projects'">{{"nav.project_list" | translate}}</button>
        <button mat-button [class.mat-accent]="router.url == '/workers'" class="nav-link"
                [routerLink]="'workers'">{{"nav.worker_dashboard" | translate}}</button>
        <button mat-button [class.mat-accent]="router.url == '/new_project'" class="nav-link"
                [routerLink]="'new_project'"
                *ngIf="authService.logged">{{"nav.new_project" | translate}}</button>
        <button mat-button [class.mat-accent]="router.url == '/manager_list'" class="nav-link"
                [routerLink]="'manager_list'"
                *ngIf="authService.logged && authService.account.tracker_admin"
        >{{"nav.manager_list" | translate}}</button>
    </div>
    <div class="small-nav">
        <button mat-button [matMenuTriggerFor]="smallNav">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #smallNav>
            <button mat-menu-item [class.mat-accent]="router.url == '/'" class="nav-title"
                    [routerLink]="''">{{"nav.title" | translate}}</button>
            <button mat-menu-item [class.mat-accent]="router.url == '/log'" class="nav-link"
                    [routerLink]="'log'">{{"nav.logs" | translate}}</button>
            <button mat-menu-item [class.mat-accent]="router.url == '/projects'" class="nav-link"
                    [routerLink]="'projects'">{{"nav.project_list" | translate}}</button>
            <button mat-menu-item [class.mat-accent]="router.url == '/workers'" class="nav-link"
                    [routerLink]="'workers'">{{"nav.worker_dashboard" | translate}}</button>
            <button mat-menu-item [class.mat-accent]="router.url == '/new_project'" class="nav-link"
                    [routerLink]="'new_project'"
                    *ngIf="authService.logged">{{"nav.new_project" | translate}}</button>
            <button mat-button [class.mat-accent]="router.url == '/manager_list'" class="nav-link"
                    [routerLink]="'manager_list'"
                    *ngIf="authService.logged && authService.account.tracker_admin"
            >{{"nav.manager_list" | translate}}</button>
        </mat-menu>
    </div>
    <span class="spacer"></span>
    <button mat-button [class.mat-accent]="router.url == '/login'"
            class="nav-link" *ngIf="!authService.account"
            [routerLink]="'login'">{{"nav.login" | translate}}</button>
    <button mat-button [class.mat-accent]="router.url == '/account'"
            class="nav-link" *ngIf="authService.account"
            [routerLink]="'account'">{{"nav.account" | translate}}</button>

    <button mat-button [matMenuTriggerFor]="langMenu">
        {{"nav.lang_select" | translate}}
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #langMenu>
        <button mat-menu-item *ngFor="let lang of langList" (click)="langChange(lang)">
            {{lang.display}}
        </button>
    </mat-menu>


</mat-toolbar>

<messenger-snack-bar></messenger-snack-bar>

<router-outlet></router-outlet>
